<link rel="stylesheet" href="../styles/slide.css">
<link rel="stylesheet" href="../styles/country.css">

<h1 class="title-country">Hawaii</h1>

<h2 class="title-activity">Koko Head</h2>
<div class="hiking-country">
    <div class="slider">
        <div class="slides">
            <slide class="slide"><img src="../assets/pictures/hawaii/koko-start.jpeg" height=300px width=350px alt="1">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/Koko-crater.JPG" height=300px width=350px alt="2">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/Kokohead.JPG" height=300px width=350px alt="3">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/koko-view.jpeg" height=300px width=350px alt="3">
            </slide>
        </div>
    </div>
    <p class="slide-description">
        La vue au sommet offre un beau panorama sur le Koko Crater et Hanauma Bay, c’est avant tout pour le défi
        physique
        que les amateurs de randonnée font la Koko Trail. Le chemin est une ancienne voie de funiculaire qui part du
        pied du cratère à son sommet en ligne droite. La pente est donc raide et vous aurez l’impression que c’est un
        mur qui vous attend. Le chemin se présente sous forme d’un escalier très irrégulier. Au sommet une vue splendide
        et une balade dans les ruines des anciennes infrastructures vous donneront le temps de reprendre votre souffle
        avant d’entamer la descente.
    </p>
</div>
<h2 class="title-activity">Kailua beach : un havre de paix</h2>
<div class="rencontre-country">
    <p class="slide-description">Il s'agit de la meilleure plage à moins d'une heure d'Honolulu. Si vous recherchez
        beauté du paysage et tranquilité, vous ne serez pas décu.
        Il existe de nombreuses plage sauvage comme celle ci. N'hésitez pas à parcourir la côté ouest et faire un stop
        dès que la route vous le permet.
    </p>
    <div class="slider">
        <div class="slides">
            <slide class="slide"><img src="../assets/pictures/hawaii/Kailua.JPG" height=300px width=350px alt="1">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/Kailua2.jpeg" height=300px width=350px alt="2">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/Kailuabeach.jpg" height=300px width=350px alt="3">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/kailua-beach.jpg" height=300px width=350px alt="3">
            </slide>
        </div>
    </div>
</div>
<h2 class="title-activity">Fooding exploration</h2>
<div class="food-country">
    <div class="slider">
        <div class="slides">
            <slide class="slide"><img src="../assets/pictures/hawaii/giovannis.jpg" height=300px width=350px alt="1">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/giovannis2.jpg" height=300px width=350px alt="2">
            </slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/helenas-food.jpeg" height=300px width=350px
                    alt="3"></slide>
            <slide class="slide"><img src="../assets/pictures/hawaii/Asian-market.JPG" height=300px width=350px alt="3">
            </slide>
        </div>
    </div>
    <p class="slide-description"> Chez Helena's, vous trouverez toute la nourriture Hawaiienne préparée par de
        véritables
        polynésiens.
        La nourriture y est délicieuse. Honolulu compte de nombreuses infleunces asiatiques, faites un détour par
        Chinatown.
        Dans le North Short, le camion de Giovanni est the place to visit! Les crevettes sautées à l'ail sont très
        populaires.
    </p>
</div>