<link rel="stylesheet" href="../styles/slide.css">
<link rel="stylesheet" href="../styles/country.css">

<h1 class="title-country">Laos</h1>

<h2 class="title-activity">Kuang Si Waterfalls : coup de coeur</h2>
<div class="hiking-country">
    <div class="slider">
        <div class="slides">
            <slide class="slide"><img src="../assets/pictures/laos/waterfall3.jpeg" height=300px width=350px alt="1">
            </slide>
            <slide class="slide"><img src="../assets/pictures/laos/waterfall2.jpeg" height=300px width=350px alt="2">
            </slide>
            <slide class="slide"><img src="../assets/pictures/laos/waterfall.jpeg" height=300px width=350px alt="3">
            </slide>
            <slide class="slide"><img src="../assets/pictures/laos/waterfall4.jpeg" height=300px width=350px alt="4">
            </slide>
        </div>
    </div>
    <p class="slide-description">
        Les chutes sont magnifiques, le parc extrêmement agréable, l’eau turquoise est une invitation à la baignade
        autorisée à certains endroits. Souvent fraîche et revigorante.
        En automne, en septembre / octobre tout particulièrement, le débit est impressionnant
    </p>
</div>
<h2 class="title-activity">A la rencontre des habitants</h2>
<div class="rencontre-country">
    <p class="slide-description">D'origine laotienne, j'ai eu la chance de pouvoir échanger avec les habitants.
        La douceur de vivre les anime. Les laotiens se content de ce qu'ils ont et leur phrase préférée est "bo pen
        niang", ce qui signifie "ce n'est pas très grave".
        Mais je pouvais ressentir les inégalités de richesse qui rappelle qu'il s'agit toujours d'un pays communiste
    </p>
    <div class="slider">
        <div class="slides">
            <slide class="slide"><img src="../assets/pictures/laos/kids.jpeg" height=300px width=350px alt="1"></slide>
            <slide class="slide"><img src="../assets/pictures/laos/kids2.jpeg" height=300px width=350px alt="2"></slide>
            <slide class="slide"><img src="../assets/pictures/laos/food6.jpeg" height=300px width=350px alt="3"></slide>
            <slide class="slide"><img src="../assets/pictures/laos/talad.jpeg" height=300px width=350px alt="4"></slide>
        </div>
    </div>
</div>
<h2 class="title-activity">Fooding exploration</h2>
<div class="food-country">
    <div class="slider">
        <div class="slides">
            <slide class="slide"><img src="../assets/pictures/laos/food3.jpeg" height=300px width=350px alt="1"></slide>
            <slide class="slide"><img src="../assets/pictures/laos/food2.jpeg" height=300px width=350px alt="2"></slide>
            <slide class="slide"><img src="../assets/pictures/laos/food7.jpeg" height=300px width=350px alt="3"></slide>
            <slide class="slide"><img src="../assets/pictures/laos/food8.jpeg" height=300px width=350px alt="4"></slide>
        </div>
    </div>
    <p class="slide-description"> La ville de Luang Prabang est sans nul doute l’une des destinations de choix pour un
        voyage culinaire inédit.
        Une fois y arriver, vous aurez l’occasion de découvrir la cuisine laotienne, connue pour sa fraicheur et
        l’abondance des ses arômes et épices exotiques.
        Le meilleur spot : une petite ruelle ouverte perpendiculaire au Night Market.
        La street food est de loin la meilleur facon de déguster des plats authentiques!
    </p>
</div>