<link
    href="https://fonts.googleapis.com/css?family=Arapey|Bad+Script|Barlow+Condensed|Cormorant|Cormorant+Garamond|Courgette|Dancing+Script|Handlee|Kalam|News+Cycle|Satisfy|Shadows+Into+Light&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="styles/contact.css">


<h1 class="title-contact">
    Amoureux de voyage
</h1>
<div class="container-contact">
    <p>En quete d'aventure, nous aimons partir à la rencontrer de nouvelles personnes.<br>
        Parce que le voyage est synonyme de suprise, notre itinéraire se dessine au fil des jours.<br>
        Nous espérons que nos articles vous inspirerons.<br>
        N'hésitez pas à nous contacter, nous serons ravis de vous partager nos espériences.
    </p>

    <div class="slider-contact">
        <div class="slides-contact">
            <slide class="slide-contact"><img src="../assets/pictures/couple/IMG_0595.jpeg" width=400px height=600px
                    alt="1">
            </slide>
            <slide class="slide-contact"><img src="../assets/pictures/couple/IMG_3064.jpeg" width=400px height=600px
                    alt="2">
            </slide>
            <slide class="slide-contact"><img src="../assets/pictures/couple/IMG_9353.jpeg" width=400px height=600px
                    alt="3">
            </slide>
            <slide class="slide-contact"><img src="../assets/pictures/couple/IMG_9464.jpeg" width=400px height=600px
                    alt="4">
            </slide>
        </div>
    </div>
</div>