<link
    href="https://fonts.googleapis.com/css?family=Arapey|Bad+Script|Barlow+Condensed|Cormorant|Cormorant+Garamond|Courgette|Dancing+Script|Handlee|Kalam|News+Cycle|Satisfy|Shadows+Into+Light&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="styles/destinations.css">
<h1 class="all-destinations">All our destinations</h1>

<div>
    {{> laos }}
</div>

<div>
    {{> hawaii }}
</div>

{{!-- <div>
    {{> japon }}
</div>

<div>
    {{> coree }}
</div>



<div>
    {{> philippines }}
</div> --}}