<link rel="stylesheet" href="styles/home.css">
<link
    href="https://fonts.googleapis.com/css?family=Arapey|Bad+Script|Barlow+Condensed|Cormorant|Cormorant+Garamond|Courgette|Dancing+Script|Handlee|Kalam|News+Cycle|Satisfy|Shadows+Into+Light&display=swap"
    rel="stylesheet">

<section class="section">

    <h1 id="Homepage-image">Travel Couple</h1>
    <img src="../public/assets/pictures/laos/IMG_2264.mp4" alt="">
    <div class="body-HP">
        <h3>Bonjour !</h3>
        <p>Bienvenue sur Travel Couple <br>
            Explorer de nouveaux horizons, découvrir de nouvelles culture,<br>
            s'aventurer dans les ruelles de la street food,
            échanger avec les locaux, tel est notre devise!<br>
            We hope you will enjoy our journey !
        </p>
    </div>
</section>

<section>
    <h3 class="title-favorite">Favorite destinations</h3>
    <div id="favorite-destinations">
        <div class="section-destination">
            <img class="image-destination" src="../assets/pictures/hawaii/Kailuabeach.jpg" width=300px height=300px
                alt="Hawaii">
            <h2 class="title-destination">Hawaii : Oahu</h2>
            <p class="text-destination">Plages de sable fin, massifs volcaniques, récifs de corail, forêts tropicales...
                Hawaï est une terre de
                contrastes et un véritable paradis naturel. Malgré les millions de touristes qui se rendent chaque année
                à Hawaï : nous avons découvert des lieux intimes et authentiques.</p>
        </div>
        <div class="section-destination">
            <img class="image-destination" src="../assets/pictures/japan/IMG_4041.jpeg" width=300px height=300px
                alt="Japan">
            <h2 class="title-destination">Le Japon, mélange de traditions et de modernité</h2>
            <p class="text-destination">Il intrigue et fascine. Pour le comprendre, il vous faudra vous mêler pendant
                votre voyage à la
                trépidante vie de Tōkyō, visiter les temples de Kyōto, gravir le mont Fuji.</p>
        </div>
        <div class="section-destination"><img class="image-destination" src="../assets/pictures/laos/view2.jpeg"
                width=300px height=300px alt="Laos">
            <h2 class="title-destination">Laos « Le pays au million d'éléphants »</h2>
            <p class="text-destination">Destination authentique du Sud-Est asiatique,
                le Laos détient un important patrimoine bouddhiste, notamment dans l'ancienne capitale royale Luang
                Prabang. Nous avons découvert une vie intense autour du Mékong et la chaleur des laotiens, un peuple qui
                a su conserver ses traditions ainsi qu'un zeste de francophilie.</p>
        </div>
    </div>
</section>