<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="module" src="/js/app.js"></script>
    <title>Travel Couple</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="styles/base.css">
</head>

<body>

    <header id="header_main">
        <div class="logo"><a href="/" class="link"><img src="../assets/pictures/DevUp.png" height=125px height=125px
                    alt="logo"></a>
        </div>
        <nav id="nav_main">
            <a href="/" class="link">Home</a>
            <a href="/destinations" class="link">Destinations</a>
            <a href="/about" class="link">About us</a>
        </nav>
    </header>

    {{{ body }}}

    <footer id="footer_main">
        <h3>Contact us</h3>
        <ul>
            <li>Email : parina@live.fr</li>
            <li>Insta : maisonparinette</li>
        </ul>
    </footer>
</body>

</html>