.slider {
    width: 350px;
    overflow: hidden;
    margin: 30px
}

.slides {
    width: calc(350px * 4);
    animation: glisse 30s infinite
}

.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0)
    }

    10% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(-350px)
    }

    35% {
        transform: translateX(-350px)
    }

    50% {
        transform: translateX(-700px)
    }

    60% {
        transform: translateX(-700px)
    }

    75% {
        transform: translateX(-1050px)
    }

    85% {
        transform: translateX(-1050px)
    }

    100% {
        transform: translateX(0)
    }
}

.rencontre-pays {
    display: flex;
    flex-direction: row;
}

.slide-description {
    width: 500px
}